<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="System.CodeDom.dll"#>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>


Hello World!